# Basic Data Types and Variables

In [3]:
#Perform addition, subtraction, multiplication, and division with two numbers.

num1 = 24
num2 = 54

addition, subtraction, multiplication, division = num1 + num2, num1 - num2, num1 * num2, num1 / num2
print("Addition :{},Subtraction :{},Multiplication :{},Division :{}".format(addition, subtraction, multiplication, round(division, 3)))

Addition :78,Subtraction :-30,Multiplication :1296,Division :0.444

In [5]:
# Concatenate two strings and print the result.
string1 = 'firstname'
string2 = 'lastname'

fullname = string1 + " " + string2
print(f'{fullname}')

firstname lastname

In [17]:
# Create a list of integers, append a number, remove a number, and print the list.
numbers = [1,2,3,4,5,6]
print(f'{numbers=}')

numbers.append(10)
print('numbers list : {}'.format(numbers))

numbers.remove(1)
print('Numbers List: {}'.format(numbers))

numbers=[1, 2, 3, 4, 5, 6]
numbers list : [1, 2, 3, 4, 5, 6, 10]
Numbers List: [2, 3, 4, 5, 6, 10]

In [19]:
# Create a tuple with four elements and print each element.
numbers = (1,2,3,4,)

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

1
2
3
4

In [21]:
# Create a dictionary with three key-value pairs and update one value.
dct = {'id':101, 'name':'Bradd Brandon', 'age':29}
print(f"{dct=}")
dct['id'] = 501
print(f'After update: {dct=}')

dct={'id': 101, 'name': 'Bradd Brandon', 'age': 29}
After update: dct={'id': 501, 'name': 'Bradd Brandon', 'age': 29}

In [27]:
# Check if a string contains a specific substring.
string1 = 'adadadaadjasodjajdadjasodjajsdasoidjas'
result = string1.find('ad')
print(f'{string1} contains substring ad {False if result == -1 else True}')

adadadaadjasodjajdadjasodjajsdasoidjas contains substring ad True

# Control Flow

In [28]:
# Check if a number is positive, negative, or zero using if-else statements.
number = 23

if number == 0:
    print('Zero')
elif result < 0:
    print('Negative')
else:
    print('Positive')

Positive

In [29]:
# Print all even numbers from 1 to 100 using a for loop.
for number in range(1, 101):
    if number % 2 == 0:
        print(f'{number=} is even')

number=2 is even
number=4 is even
number=6 is even
number=8 is even
number=10 is even
number=12 is even
number=14 is even
number=16 is even
number=18 is even
number=20 is even
number=22 is even
number=24 is even
number=26 is even
number=28 is even
number=30 is even
number=32 is even
number=34 is even
number=36 is even
number=38 is even
number=40 is even
number=42 is even
number=44 is even
number=46 is even
number=48 is even
number=50 is even
number=52 is even
number=54 is even
number=56 is even
number=58 is even
number=60 is even
number=62 is even
number=64 is even
number=66 is even
number=68 is even
number=70 is even
number=72 is even
number=74 is even
number=76 is even
number=78 is even
number=80 is even
number=82 is even
number=84 is even
number=86 is even
number=88 is even
number=90 is even
number=92 is even
number=94 is even
number=96 is even
number=98 is even
number=100 is even

In [31]:
# Calculate the sum of all numbers in a list using a for loop.
numbers = [1,2,3,4,56,7,1,2,22,4,443,]

sum = 0
for num in numbers:
    sum += num
print(f'sum of all numbers in {numbers=} is sum={sum}')

sum of all numbers in numbers=[1, 2, 3, 4, 56, 7, 1, 2, 22, 4, 443] is sum=545

In [32]:
# Find the maximum and minimum numbers in a list using a for loop.
numbers = [1,2,3,4,56,7,1,2,22,4,443,]

max = numbers[0]
min = numbers[0]
for num in numbers:
    if num > max:
        max = num
    if num < min:
        min = num
print("Maximum :{}, Minimum :{}".format(max, min))

Maximum :443, Minimum :1

In [39]:
# Print the first 10 Fibonacci numbers using a while loop.
a, b = 0, 1
iter = 1
while iter <= 10:
    print(f'{a}', end=' ')
    a, b = b, a + b
    iter += 1

0 1 1 2 3 5 8 13 21 34

In [41]:
# Check if a number is prime using a for loop and if-else statements.

def isPrime(number):
    if number < 2:
        return False
    if number == 2:
        return True
    for num in range(2, (number//2)+1):
        if number % num == 0:
            return False
    return True

result = isPrime(124)
print('prime number: {}'.format(result))

prime number: False

In [54]:
# Use nested loops to print a multiplication table from 1 to 10.
def multiplication_table(number):
    for num in range(1,number):
        for multiplier in range(1,11):
            result = str.center(str(num*multiplier), 3)
            print(f"{result}", end=' ')
        print('\n')
        
multiplication_table(10)

 1   2   3   4   5   6   7   8   9   10

 2   4   6   8   10  12  14  16  18  20

 3   6   9   12  15  18  21  24  27  30

 4   8   12  16  20  24  28  32  36  40

 5   10  15  20  25  30  35  40  45  50

 6   12  18  24  30  36  42  48  54  60

 7   14  21  28  35  42  49  56  63  70

 8   16  24  32  40  48  56  64  72  80

 9   18  27  36  45  54  63  72  81  90

In [57]:
# Print numbers from 1 to 100, but for multiples of 3 print "Fizz" and for multiples of 5 print "Buzz".
def fizz_3_buzz_5():
    for num in range(1, 101):
        if num % 3 == 0:
            print('Fizz', end=' ')
        if num % 5 == 0:
            print('Buzz', end=' ')
        if  num % 3 != 0 and num % 5 != 0:
            print(num, end=' ')
fizz_3_buzz_5()

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 Fizz Buzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 Fizz Buzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 Fizz Buzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 Fizz Buzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 Fizz Buzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 Fizz Buzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz